{% extends 'catalog/base.html' %}
{% block content %}
{% load tags_lib %}
{% for object in object_list %}
<title>{{ object.name|title }} - карточка товара</title>
{% endfor %}
<div class="container py-3">
    <header>
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <h1 class="display-3 fw-normal text-body-emphasis">Карточка товара</h1>
            <p class="fs-5 text-body-secondary">Здесь указана вся информация об интересующем Вас товаре</p>
        </div>
    </header>


    <div class="card" style="width: 45rem;">
        {% for object in object_list %}
        <img src="{{ object.image|mediapath }}" class="card-img-top">
        <div class="card-body">
            <h2 class="card-title">{{ object.name|title }}</h2>
            <h3 class="card-title">{{ object.price }}</h3>
            <p class="card-text">{{ object.description }}</p>
            <a href="#" class="btn btn-primary">Купить</a>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}