{% extends 'catalog/base.html' %}
{% load tags_lib %}
{% block content %}
<title>Boardgamezshop - Главная страница</title>
<header>
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-3 fw-normal text-body-emphasis">Главная</h1>
        <p class="fs-5 text-body-secondary">Вы находитесь на сайте для продажи товаров</p>
    </div>
</header>
<div class="col-12 mb-5">
    <a href="{% url 'catalog:product_create' %}" type="button" class="w-100 btn btn-lg btn-outline-primary">Добавить
        товар</a>
</div>
<div class="row row-cols-9 row-cols-md-3 text-center">
    {% for object in object_list %}
    <div class="col">
        <div class="card mb-3 rounded-3 shadow-sm" style="width: 20rem; height: 30rem">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">{{ object.name|title }}</h4>
            </div>
            <div class="card-body">
                <img src="{{ object.image|mediapath }}"
                     class="card-img-top" style="width: 10rem; height: 10rem">
                <h1 class="card-title pricing-card-title">{{ object.price }}</h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>{{ object.description|slice:100 }}</li>
                </ul>
                <a href="{% url 'catalog:product_detail' object.pk%}" type="button"
                   class="w-100 btn btn-lg btn-outline-primary">Карточка</a>
            </div>
            {% for version_item in object.version_set.all %}
            {% if version_item.is_actual %}
            <div class="card-footer">
                <p>Актуальная версия: {{ version_item.name }} - номер {{ version_item.version_number }} </p>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}